.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fff;
    padding: var(--size-4-5);
    gap: var(--size-1);

    border-radius: 0.25rem;

    @include smaller-than('mobile') {
        grid-template-columns: 1fr;
        padding: 0;
    }

    &__form-col {
        padding-right: var(--size-4-5);

        @include smaller-than('mobile') {
            padding: 0;
        }
    }

    &__map-col {
        position: relative;
    }

    &__map-wrapper {
        position: absolute;
        inset: 0;
        border-radius: 0.25rem;
        border: var(--size-1px) solid var(--Grey, #B2B7BC);
        background: #FFF;
        padding: 0.625rem;

        @include smaller-than('mobile') {
            position: relative;
            height: 50vw;
        }
    }

    &__map-image {
        position: absolute;
        inset: 0.625rem;
        width: calc(100% - 1.25rem);
        height: calc(100% - 1.25rem);
        object-fit: cover;
        border-radius: 0.125rem;
    }
}