body {
	height: 100%;
	overflow-x: clip;
	line-height: var(--main-line-height);
	color: var(--main-color);

	transition: margin-top 0.3s ease-in-out;

	&:not(:has(.page-hero)) {
		margin-top: var(--header-height);
	}

	@include smaller-than('mobile') {
		margin-top: 0;
	}
}