// general vars
:root {
	--main-font-family: 'Funnel Sans', sans-serif;
	--main-line-height: 1.21;

	--regular-border-radius: 1rem;
	--regular-gap: 0.75rem;

	--main-color: #12283E;
	--total-black: #000000;
	--total-white: #ffffff;
}