.technical-page-hero {
	position: relative;
	background: #141528;
	min-height: 51.5rem;
	overflow: hidden;

	@include smaller-than('tablet') {
		min-height: auto;
	}

	&__image-wrapper {
		position: absolute;
		left: 0;
		top: 0;
		width: 57%;
		height: 100%;

		@include smaller-than('mobile') {
			display: none;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 3.5rem;
		min-height: 51.5rem;
		margin-left: 54%;
		max-width: 44rem;
		padding: 4rem 4rem 4rem 0;

		@include smaller-than('medium-desktop') {
			margin-left: 50%;
			max-width: 40rem;
			padding-right: 2rem;
		}

		@include smaller-than('tablet') {
			margin-left: 0;
			max-width: 100%;
			min-height: auto;
			padding: var(--size-2-5) var(--size-1);
		}
	}

	&__heading-group {
		display: flex;
		flex-direction: column;
		gap: var(--size-1);
	}

	&__heading {
		font-family: 'Poltawski Nowy', serif;
		font-weight: 400;
		font-size: 10.625rem;
		line-height: 100%;
		color: #ffffff;
		letter-spacing: -0.03em;

		@include smaller-than('medium-desktop') {
			font-size: 8rem;
		}

		@include smaller-than('tablet') {
			font-size: 6rem;
		}

		@include smaller-than('mobile') {
			font-size: 4rem;
		}
	}

	&__subtitle {
		font-family: 'Poltawski Nowy', serif;
		font-size: var(--size-2-5);
		line-height: 100%;
		letter-spacing: -0.03em;
		color: rgba(#b2b7bc, 0.6);

		@include smaller-than('tablet') {
			font-size: var(--size-1-75);
		}

		@include smaller-than('mobile') {
			font-size: var(--size-1-5);
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		max-width: 36.5rem;

		@include smaller-than('tablet') {
			gap: var(--size-2);
		}
	}

	&__text-wrapper {
		padding-right: 3rem;

		@include smaller-than('mobile') {
			padding-right: 0;
		}
	}

	&__text {
		font-size: var(--size-1);
		line-height: 132%;
		color: rgba(#ffffff, 0.5);

		@include smaller-than('mobile') {
			font-size: var(--size-0-875);
		}
	}

	&__button {
		--c-height: 4rem;
		--c-max-width: 11.625rem;

		@include smaller-than('mobile') {
			--c-max-width: 100%;
		}
	}
}