.blog-archive-list {
    background: #fff;
    border-radius: 0.25rem;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--size-1);
        padding: var(--size-1-5);

        @include smaller-than('mobile') {
            padding: var(--size-1-5) 0;
        }
    }

    &__posts-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--size-1);
        padding: 0 var(--size-1-5);

        @include smaller-than('tablet') {
            grid-template-columns: repeat(2, 1fr);
        }

        @include smaller-than('mobile') {
            grid-template-columns: 1fr;
            padding: 0;
        }
    }

    &__posts-list-item {
        display: contents;
    }

    &__blog-post-card {}

    &__pagination {
        margin-top: var(--size-3-5);
    }
}